@{
    string role = Context.Request.Cookies["UserRole"]; 
    string homeController = "Home";
    string homeAction = "landing"; 

    if (role == "Admin")
    {
        homeController = "Admin";
        homeAction = "Index";
    }
    else if (role == "Homeowner")
    {
        homeController = "Home";
        homeAction = "dashboard";
    }
    else if (role == "Staff")
    {
        homeController = "Staff";
        homeAction = "Dashboard";
    }
}

<div class="bg-white rounded-tr-2xl z-50 rounded-br-2xl shadow-md w-56 py-6 h-screen">
    <ul class="space-y-4">
        <!-- Home -->
        <li>
            <a class="flex items-center space-x-4 p-3 rounded-l-full bg-gray-200" asp-controller="@homeController" asp-action="@homeAction">
                <i class="fas fa-home text-blue-800 text-xl"></i>
                <span class="text-blue-800 font-semibold">Home</span>
            </a>
        </li>

        <!-- Calendar -->
        <li>
            <a class="flex items-center space-x-4 p-3  hover:bg-gray-100 transition ease-in-out rounded-l-full" asp-controller="@homeController" asp-action="Calendar">
                <i class="fas fa-calendar-alt text-blue-800 text-xl"></i>
                <span class="text-blue-800 font-semibold">Calendar</span>
            </a>
        </li>

        <!-- Facilities -->
        <li>
            <a class="flex items-center space-x-4 p-3 rounded-l-full hover:bg-gray-100 transition ease-in-out" asp-controller="@homeController" asp-action="facilities">
                <i class="fas fa-building text-blue-800 text-xl"></i>
                <span class="text-blue-800 font-semibold">Facilities</span>
            </a>
        </li>

        <!-- Bill Payment -->
        <li>
            <a class="flex items-center space-x-4 p-3 rounded-l-full hover:bg-gray-100 transition ease-in-out" asp-controller="@homeController" asp-action="bill">
                <i class="fas fa-file-invoice-dollar text-blue-800 text-xl"></i>
                <span class="text-blue-800 font-semibold">Bill Payment</span>
            </a>
        </li>

        <!-- Services -->
        <li>
            <a class="flex items-center space-x-4 p-3 rounded-l-full hover:bg-gray-100 transition ease-in-out" asp-controller="@homeController" asp-action="services">
                <i class="fas fa-tools text-blue-800 text-xl"></i>
                <span class="text-blue-800 font-semibold">Services</span>
            </a>
        </li>

        <!-- Forums -->
        <li>
            <a class="flex items-center space-x-4 p-3 rounded-l-full hover:bg-gray-100 transition ease-in-out" asp-controller="@homeController" asp-action="forums">
                <i class="fas fa-comments text-blue-800 text-xl"></i>
                <span class="text-blue-800 font-semibold">Forums</span>
            </a>
        </li>

        <!-- Feedbacks -->
        <li>
            <a class="flex items-center space-x-4 p-3 rounded-l-full hover:bg-gray-100 transition ease-in-out" asp-controller="@homeController" asp-action="feedbacks">
                <i class="fas fa-bullhorn text-blue-800 text-xl"></i>
                <span class="text-blue-800 font-semibold">Feedbacks</span>
            </a>
        </li>
    </ul>
</div>